body {
    font-family: 'Rokkitt', serif;
}

.image_fond {
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    
}

.accueil {
    background-image: url(../img/fond_accueil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;

}

.erreur404 {
    background-image: url(../img/erreur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;

}

.ajaxText {

display: flex;
justify-content: center;
margin: auto;
color: blanchedalmond;
text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
font-size: x-large;

}

.listeJeux {
    background-image: url(../img/ListeJeux.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: rgb(226, 180, 30);
}

.premiere_barre_nav {
    height: 40px!important;
    background-color: black;
}

.barre_de_navigation {
    background-color: #000000;
    opacity: 50%;
}

.barre_de_navigation, .liens {
    color: black;
}

.liste_premiere_navbar, a {
    color: white;
    list-style: none;
    display: contents;
}

.liste_navbar {
    list-style: none;
}

.barre_opacity {
    background-color: grey;
    opacity: 0.4;
    height: 70px;
    margin-top: 104px;
}

.text_image_accueil {
    padding-top: 8%;
}

.profil_user {
    width: 50%;
    height: 200px;
    margin-top: 8em;
    margin-bottom: 7.09em;
}

.lien_mon_compte {
    color: rgb(0, 0, 0)!important;
}

.globe {
    background-color: rgb(145, 135, 135);
    margin-top: 11%!important;
    opacity: 90%;
    width: 50%;
    border: 1px black solid;
    border-radius: 2%;
}


.globe_login {
    background-color: rgb(145,135,135);
    margin-top: 16%;
    opacity: 90%;
    width: 63%;
    border: 1px black solid;
    border-radius: 2%;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3;
}

.search-bar {

width: 40%;

}

hr {

    width: 75%;
    color: blue;
}

.h2text {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.texth4 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.h2trade {

    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
}

.popup {
    margin: 20% auto;
    width: 30%;
    background-color: rgb(109, 108, 131);
    border-radius: 2%;
    box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
    z-index: 3;
}

.popup_post {
    margin: 20% auto;
    width: 60%;
    background-color: wheat;
    border-radius: 2%;
    box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.btnClose {
    float: right;
    cursor: pointer;
}

.btnReturn {

margin-bottom: 0.96em;

}

.image_post {
    width: 100%;
    height: 14rem;
} 

.image_post_accueil {
    width: 100%;
    border-radius: 2%;
}

.image_post_category {
    width: 17rem;
    height: 12rem;
    border-radius: 2%;
}

.shadow_image_compte {
    box-shadow: 5px 5px 10px black;
    border-radius: 5%;
}

.shadow_image_accueil {
    box-shadow: 5px 5px 10px black;
    border-radius: 2%;
    margin-left: 33em;
    margin-right: 33em;
    color: white;
}

.formulaire_contact {
    width: 55%;
    height: auto;
}

.titre_footer {
    color: rgb(0, 0, 0);
    margin-left: 2%!important;
}

.image_accueil {
    background-image: url(../img/banniere.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
}

.mainContact{

    margin-top: 4.5em;
}
.contact {
    background-image: url(../img/fond-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
}


.monCompte {

    background-image: url(../img/fond-mon-compte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.cookie-alert{
    position: absolute;
    left: 70%; right: 5%;
    bottom: 5%;
    background-color: rgba(0,0,0,0.5)
}

.cookie-alert .sp-cookie-alert{
    background-color: #ffffff;
    padding: 2em;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    text-align: center;
}

.mesJeux {

    color: whitesmoke;
    font-size: larger;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
}

.jeux {

    color: white!important;
}

.mes-jeux {

    background-image: url(../img/fond-mes-jeux.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 100%;

}

.ajoutJeux {

    margin-bottom: 11.74em;
}

.description {

width: 50%;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.input_add_jeux {

width: 60%;

}

.colorh3 {

    color: white;

}

.principal {

    min-height: 250px;

}

.footer {
    width: 100%;
    height: 100px;
    opacity: 60%;
    background-color: #cec9c5;
    bottom: 0;
    position: relative;
}

    .footer_list {
        width: 100%;
        height: 100px;
        opacity: 60%;
        background-color: #cec9c5;
        bottom: 0;
        position: relative;
    
}
.erreur {

margin-top: 20%;
font-size: xx-large;
color: blanchedalmond;
text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);

}
.bodypop {
    margin-right: 1em;
}

@keyframes slideDown {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .popup {
        margin: 10%;
        width: 80%;
    }

    .querie_iphone {
        padding: 0;
        margin: 0!important;
    }

    .querie_post_image {
        display: block!important;
        margin: 0!important;
        padding: 0!important;
    }

    .querie_images_accueil {
        display: block;
    }

    .formulaire_contact {
        width: 100%!important;
        height: auto;
    }


}